<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070211470916-557hgb2j02bn901q06t8pc2q9f84rqv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070211470916-557hgb2j02bn901q06t8pc2q9f84rqv8</string>
	<key>API_KEY</key>
	<string>AIzaSyBLTgUm73p3PtqZPgwSirIctwGpzkqzZ3A</string>
	<key>GCM_SENDER_ID</key>
	<string>1070211470916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.apag.apagapp</string>
	<key>PROJECT_ID</key>
	<string>apag-7528e</string>
	<key>STORAGE_BUCKET</key>
	<string>apag-7528e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070211470916:ios:8aa1d190e75cf0e79d0e11</string>
	<key>DATABASE_URL</key>
	<string>https://apag-7528e.firebaseio.com</string>
</dict>
</plist>